.container {
  height: 100vh;

  display: flex;

  align-items: center;
  justify-content: center;
}

.container form{
  width: 20rem;

  background-color: var(--background2);
  padding: 2rem;

  text-align: center;

  border-radius: 6px;
}

.container form h1{
  margin-bottom: 1rem;
  color: white;
}

.container .inputContainer{
  position: relative;
  margin-top: 2rem;
}

.container .inputContainer input{
  border: 0;
  border-bottom: 2px solid var(--background2);
  border-radius: 6px;
  outline: none;
  transition: all .2s ease-in-out;
}

.container .inputContainer label{
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  position: absolute;
  font-size: 1rem;
  cursor: text;
  transition: all .2s ease-in-out;
}

.container .inputContainer input,
.container .inputContainer label {
  width: 100%;
  height: 3rem;
  font-size: 1rem;
}

.container .inputContainer input:valid,
.container .inputContainer input:focus {
  border-bottom: 2px solid var(--orange2);
}

.container .inputContainer input:valid + label,
.container .inputContainer input:focus + label {
  font-size: .9rem;
  top: -30px;
  pointer-events: none;
  color: var(--orange2);
}

.container form div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container form div button{
  margin-top: 1rem;

  width: 40%;
  height: 3rem;

  border-radius: 6px;
  border: 0;

  font-weight: bold;
  background-color: var(--orange);
  transition: all .2s ease-in-out;
}

.container form div button:hover{
  background-color: var(--orange2);
}

.container form  div{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container form div a{
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 1rem;
  color: white;
  font-weight: 500;

  transition: all .2s ease-in-out;

}

.container form div a:hover{
  text-decoration: underline;
  opacity: .8;
}



.container form div svg{
  margin-right: .2rem;
}